<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="ATM" class="org.example.ATM.ATM" scope="singleton">

    </bean>

    <bean id="db" class="org.example.ATM.DBConnection" scope="singleton"
    init-method="getInit"
    destroy-method="getDestroy">

    </bean>

    <bean id="bank" class="org.example.ATM.Bank" scope="singleton">
            <property name="dbConnection" ref="db"/>
    </bean>

</beans>
